<html>
  <head>
    <title>Licode Basic Example</title>
    <script type="text/javascript" src="/static/js/erizo.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </head>

  <body>
    <button id="recordButton" onclick="startRecording()" disabled>Start Recording</button>
    <button id="testConnection" onclick="testConnection()">Test Connection</button>
    <div id="myVideo" style="width:640px; height: 480px;">
    </div>
    <div id="recorded">
      <h2>Recorded Videos</h2>
      <ul id="recordedVideos"></ul>
    </div>
  </body>
</html>
